<div class="container">

        <form #meuForm="ngForm" class="row" (submit)="cadastrar($event)">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Título</label>
                    <input
                    required
                    #titulo="ngModel"
                    name="titulo"
                    [(ngModel)]="foto.titulo"
                    class="form-control"  autocomplete="off">
                    <span *ngIf="titulo.invalid"  class="form-control alert-danger">Titulo obrigatório</span>     
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input
                    required
                    #url="ngModel"
                    name="url"
                    [(ngModel)]="foto.url"
                    class="form-control"  autocomplete="off">
                    <span *ngIf="url.invalid"  class="form-control alert-danger">URL obrigatória</span> 
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea
                    name="descricao"
                    [(ngModel)]="foto.descricao"
                        class="form-control"  autocomplete="off">
                    </textarea>
                </div>
    
                <button type="submit" class="btn btn-primary" [disabled]="meuForm.form.invalid">
                    Salvar
                </button>
                 <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
        </form>
    </div>