<div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>
    <div class="container">
        <alo-mundo></alo-mundo>

        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                Nova Foto
                            </a>
                        </span>

                        <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo título da foto" />
                    </div>
                </form>
            </div>
        </div>
        <br/>
       <!-- 
            <foto url="img/leao.jpg" titulo="Leão"></foto>
            <foto url="img/leao-branco.jpg" titulo="Leão Branco"></foto> 
        -->
        <!--<foto *ngFor="let foto of fotos"  url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>-->
    
        <div class="container">
            <div class="row">
                <painel *ngFor="let foto of fotos | filtroPorTitulo:textoProcurado.value" titulo={{foto.titulo}} class="col-md-2">
                    <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
                </painel>
            </div>
        </div>
    </div>